---
---
/*******************************************************************************/
/*******************************************************************************/
/*Imports, font face, and variables*********************************************/
/*******************************************************************************/
/*******************************************************************************/

@import 'normalize';

@font-face {
  font-family: 'headings';
  src: url('/media/fonts/PoetsenOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'bodyCopy';
  src: url('/media/fonts/AndrijType - BanderaText-Medium.otf') format('opentype');
}



// $accent10: #3498db;
$color3: #d76817;
$color5: #00d2a5;
$extra: #464646;

$navigation: #dadada;
$links: #00a6b6;
$background: #dadada;
$opposingBackground: black;
$accents: #2c3e50;

/*******************************************************************************/
/*******************************************************************************/
/*Globals***********************************************************************/
/*******************************************************************************/
/*******************************************************************************/

*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.site_container {
  background-color: $background;
  font-family: bodyCopy, serif;
  font-size: 16px;
}
.container {
  max-width: 1280px;
  margin: auto;
}

/*Basic Style for all navigation************************************************/
[role=navigation] {
  li {
    list-style-type: none;
  }
  a{
    text-decoration: none;
  }
}
/*Headings**********************************************************************/
h2{
  font-family: headings, sans-serif;
  font-size: 40px;
}
/*Images************************************************************************/
img{
   max-width: 100%;
   height: auto;
}

/*******************************************************************************/
/*******************************************************************************/
/*Page Layout*******************************************************************/
/*******************************************************************************/
/*******************************************************************************/
.site_container {
  display: flex;
  flex-direction: column;
  header{
    order: 1;
  }
  main{
    order: 2;
  }
  footer{
    order: 3;
  }
}


/*******************************************************************************/
/*******************************************************************************/
/*Page Structure****************************************************************/
/*******************************************************************************/
/*******************************************************************************/

/*Header styles*****************************************************************/
header[role=banner] {
  background-color: $opposingBackground;
  h1 {
    margin: 0;
  }
  svg {
    width: 200px;
    display: block;
    margin: 0 auto;
    fill: $navigation;
  }
}

/*Main Nav styles***************************************************************/

// style navigation inside of of my main nav
.main_nav[role=navigation] {
  ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center ;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    a {
      // style the link
      padding: 10px 7px 10px;
      margin: 8px 4px;
      background: $navigation;
      color: $opposingBackground;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      //hollow out link
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: background;
      transition-property: background;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: inset 0 0 0 4px $navigation, 0 0 1px rgba(0, 0, 0, 0);
      /* improve aliasing on mobile/tablet devices */
      &:hover, &:focus, &:active {
        background: none;
        color: #fff;
      }
    }
  }
}
/*******************************************************************************/
/*******************************************************************************/
/*Page Specific*****************************************************************/
/*******************************************************************************/
/*******************************************************************************/

/*Home Page*********************************************************************/
// Flex for Home Page
.home {
  display: flex;
  flex-direction: column;
  .post-list {
    // order: 1;
  }
  h2{
    // order: 2;
  }
  img {
    // order: 3;
    align-self: flex-start;
  }
  button{
    // order: 4;
    align-self: flex-start;
  }
  p{
    // order: 5;
  }
  }

// Home page post flex
.post-list {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row wrap;
  li {
    padding: 10px;
    margin: auto;
    list-style-type: none;
  }
  .post-link {
    text-decoration: none;
    color: $links;

// post image hover styles
    img {
    padding: 40px;
    border: solid $accents 4px;
    background-color: $background;
    border-radius: 10px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;

    &:hover, &:focus, &:active {
      background-color: $accents;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  }

}


/*******************************************************************************/
/*******************************************************************************/
/*Repsonsiveness****************************************************************/
/*******************************************************************************/
/*******************************************************************************/

/* Medium Screen Media Query (Tablets) */
@media screen and (min-width: 481px){

}
/* Large Screen Media Query */
@media screen and (min-width: 768px) {
  .site_container {
    display: flex;
    flex-direction: row;
    header{
      order: 1;
    }
    main{
      order: 2;
    }
    footer{
      order: 3;
    }
  }

}
/* Huge Screen Media Query */
@media screen and (min-width: 1280px){

}
