---
---

@import 'normalize';

@font-face {
  font-family: 'h2';
  src: url('/media/fonts/PoetsenOne-Regular.ttf') format('truetype');
}


// $accent10: #3498db;
$color3: #d76817;
$color5: #00d2a5;
$extra: #464646;

$navigation: #dadada;
$links: #00a6b6;
$background: #dadada;
$opposingBackground: black;
$accents: #2c3e50;
// $headings: ;
// $text: ;

*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.site_container {
  background-color: $background;
}
.container {
}
.clearfix {
}
.header {
}
header[role=banner] {
  /*min-height: 246px;*/
  background-color: $opposingBackground;
  color: white;
  h1 {
    margin: 0;
    color: #FFF;
  }
  svg {
    width: 200px;
    display: block;
    margin: 0 auto;
    // fill: currentColor;
    fill: $navigation;
  }
}
.main_nav {

}
[role=navigation] {
  li {
    list-style-type: none;
  }
  ul {
     padding: 0;
     width: 261px;
     margin: 0 auto;
  }
}
.main_nav[role=navigation] {
  li {
    display: inline;
  }
  a {
    padding: 10px 7px 10px;
  }
}
 /* Hollow */
.hollow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px $navigation, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
  &:hover, &:focus, &:active {
    background: none;
    color: #fff;
  }
}
/* Default styles for the demo buttons */
.button {
  margin: 8px 4px;
  /*padding: 1em;*/
  cursor: pointer;
  background: $navigation;
  text-decoration: none;
  color: $opposingBackground;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main{

}
.footer{

}

h1 a{

}


h2{
  font-family: 'h2', sans-serif;
  font-size: 40px;
}
img{
   max-width: 100%;
   height: auto;
}

.post-list {
  // float: left;
  // display: inline-block;
  // width: 25%;
  li {
    display: inline-block;
    width: 25%;
    padding: 10px;
    // background-color: white;
    // border: solid $opposingBackground 2px;
    margin: 4px;
  }
  .post-link {
    text-decoration: none;
    color: $links;

    img {
    padding: 40px;
    border: solid $accents 4px;
    background-color: $background;
    border-radius: 10px;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;

    &:hover, &:focus, &:active {
      background-color: $accents;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

}
  img {
    // width: 250px;
    // height: 175px;

  }
}

/* Medium Screen Media Query (Tablets) */
@media screen and (min-width: 481px){

}
/* Large Screen Media Query */
@media screen and (min-width: 768px) {

}
/* Huge Screen Media Query */
@media screen and (min-width: 1280px){
    .site_container{

}
.container{
   max-width: 1280px;

}
.clearfix{

}
.header{

}
.main_nav{

}
.main{

}
.footer{

}
h2 {

}


}
