---
layout: default
---

<div class="home">

  <h2 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.thumbnail %}
          <img src="{{ post.thumbnail }}">
        {% endif %}
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <h2>Spencer Palmer</h2>
  <h2>Web Design &amp; Development</h2>
  <img class="container" src="/media/images/portfolioPic600.png" title="Spencer Palmer" alt="Spencer Palmer">

</div>

