<!DOCTYPE html>
<html>

  {% include head.html %}

 <body>
        <div class="site_container clearfix">
        <header class="clearfix" role="banner">
            <div class="container header">
               {% include header.html %}
              
                <nav class="main_nav clearfix" role="navigation">
                    {% include main_nav.html %}
                </nav>
            </div>
        </header>
        <main role="main">
            <div class="container main clearfix">
               {{ content }}
                <h2>Spencer Palmer</h2>
                <h2>Web Design &amp; Development</h2>
                    <img class="container" src="/media/images/portfolioPic600.png" title="Spencer Palmer" alt="Spencer Palmer">
            </div>   
         </main>
        
        
            <footer class="clearfix" role="contentinfo">
            <div class=" container footer clearfix">
                {% include footer.html %}
            
               
            </div>
        </footer>
        </div>
    </body>
</html>

