<!DOCTYPE html>
<html>

  {% include head.html %}

 <body>
        <div class="site_container">
        <header role="banner">
            <div class="container header">
               {% include header.html %}

                <nav class="main_nav" role="navigation">
                    {% include main_nav.html %}
                </nav>
            </div>
        </header>
        <main role="main">
            <div class="container main">
               {{ content }}
             </div>
         </main>

        
            <footer role="contentinfo">
            <div class=" container footer">
                {% include footer.html %}


            </div>
        </footer>
        </div>
    </body>
</html>
